language: php
php:
  - '5.6'
  - '7.0'
  - '7.1'
  - '7.2'
before_script:
  - composer install --prefer-dist --no-interaction
script:
  - vendor/bin/codecept run --coverage --coverage-xml=coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash) -s tests/_output